                <!-- Offcanvas Header -->
                <div class="offcanvas-header py-4 py-lg-7 border-bottom">
                    <a class="icon icon-lg text-muted" href="#" data-bs-dismiss="offcanvas">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
                    </a>

                    <div class="visibility-xl-invisible overflow-hidden text-center">
                        <h4>Tradex Bastos</h4>
                        <p>En activité<span class='typing-dots'><span>.</span><span>.</span><span>.</span></span></p>
                    </div>
                </div>
                <!-- Offcanvas Header -->

                <!-- Offcanvas Body -->
                <div class="offcanvas-body hide-scrollbar">
                    <!-- Avatar -->
                    <div class="text-center py-10">
                        <div class="row gy-6">
                            <div class="col-12">
                                <h4>Tradex Bastos</h4>
                                <p>En activité<span class='typing-dots'><span>.</span><span>.</span><span>.</span></span></p>
                            </div>
                        </div>
                    </div>
                    <!-- Avatar -->

                    <!-- Tabs -->
                    <ul class="nav nav-pills nav-justified" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="pill" href="#offcanvas-tab-profile" role="tab" aria-controls="offcanvas-tab-profile" aria-selected="true">
                                PROFIL
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="pill" href="#offcanvas-tab-media" role="tab" aria-controls="offcanvas-tab-media" aria-selected="true">
                                INVENTAIRES
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="pill" href="#offcanvas-tab-files" role="tab" aria-controls="offcanvas-tab-files" aria-selected="false">
                                RAPPORTS
                            </a>
                        </li>
                    </ul>
                    <!-- Tabs -->

                    <!-- Tabs: Content -->
                    <div class="tab-content py-1" role="tablist">
                        <!-- Profile -->
                        <div class="tab-pane fade show active" id="offcanvas-tab-profile" role="tabpanel">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row align-items-center gx-6">
                                        <div class="col">
                                            <h5>Telephone</h5>
                                            <p>652153290</p>
                                        </div>

                                        <div class="col-auto">
                                            <div class="btn btn-sm btn-icon btn-dark">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone-call"><path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="row align-items-center gx-6">
                                        <div class="col">
                                            <h5>Adresse</h5>
                                            <p>Cameroun, Yaounde</p>
                                        </div>

                                        <div class="col-auto">
                                            <div class="btn btn-sm btn-icon btn-dark">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="row align-items-center gx-6">
                                        <div class="col">
                                            <h5>E-mail</h5>
                                            <p>test@lightoil.cm</p>
                                        </div>

                                        <div class="col-auto">
                                            <div class="btn btn-sm btn-icon btn-dark">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <ul class="list-group list-group-flush border-top mt-8">
                                <li class="list-group-item">
                                    <div class="row align-items-center gx-6">
                                        <div class="col">
                                            <h5>Notifications</h5>
                                            <p>activer le son des notifications</p>
                                        </div>

                                        <div class="col-auto">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="accordion-security-check-5">
                                                <label class="form-check-label" for="accordion-security-check-5"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <ul class="list-group list-group-flush border-top mt-8">
                                <li class="list-group-item">
                                    <button href="#" class="btn btn-outline-primary">Voir plus</button>
                                </li>
                            </ul>
                        </div>
                        <!-- Profile -->

                        <!-- Media -->
                        <div class="tab-pane fade" id="offcanvas-tab-media" role="tabpanel">
                <!-- Account Pages -->
                <div class="card-list mt-8">

                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h4 class="mb-1">Super Classic</h4>
                                    <p>78542</p>
                                    <div class="progress" style="height: 1px;">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 25%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h4 class="mb-1">Super Maxiboost</h4>
                                    <p>45632</p>
                                    <div class="progress" style="height: 1px;">
                                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h4 class="mb-1">Gasoil Classic</h4>
                                    <p>12344</p>
                                    <div class="progress" style="height: 1px;">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 25%;" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h4 class="mb-1">Gasoil Maxiboost</h4>
                                    <p>77513</p>
                                    <div class="progress" style="height: 1px;">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 25%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h4 class="mb-1">Petrole</h4>
                                    <p>00000</p>
                                    <div class="progress" style="height: 1px;">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="00" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Account Pages -->
                        </div>
                        <!-- Media -->

                        <!-- Files -->
                        <div class="tab-pane fade" id="offcanvas-tab-files" role="tabpanel">
                            <ul class="list-group list-group-flush">

                                <!-- Item -->
                                <li class="list-group-item">
                                    <div class="row align-items-center gx-5">
                                        <!-- Icons -->
                                        <div class="col-auto">
                                            <div class="avatar-group">
                                                <a href="#" class="avatar avatar-sm">
                                                    <img src="assets/kit/1.png" class="avatar-img" alt="#">
                                                </a>

                                                <a href="#" class="avatar avatar-sm">
                                                    <img src="assets/kit/5.png" class="avatar-img" alt="#">
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Icons -->

                                        <!-- Text -->
                                        <div class="col overflow-hidden">
                                            <h5 class="text-truncate">
                                                <a href="#">03-08-2021_Rapports_depotages.JPG</a>
                                            </h5>
                                            <ul class="list-inline m-0">
                                                <li class="list-inline-item">
                                                    <small class="text-uppercase text-muted">79.2 KB</small>
                                                </li>

                                                <li class="list-inline-item">
                                                    <small class="text-uppercase text-muted">recu le 04.08.2021</small>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- Text -->

                                        <!-- Dropdown -->
                                        <div class="col-auto">
                                            <div class="dropdown">
                                                <a class="icon text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                                                </a>

                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            Télécharger
                                                            <div class="icon ms-auto">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            Partager
                                                            <div class="icon ms-auto">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share-2"><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li><hr class="dropdown-divider"></li>
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center text-danger" href="#">
                                                            <span class="me-auto">Supprimer</span>
                                                            <div class="icon">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Dropdown -->
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <!-- Files -->
                    </div>
                    <!-- Tabs: Content -->
                </div>
                <!-- Offcanvas Body -->
