<!-- {{items | json}} -->
<div class="fade show active overflow-auto h-100">
    <div class="d-flex flex-column h-100 position-relative">
        <div class="hide-scrollbar">

            <div class="container py-8">
                <!-- Title -->
                <div class="mb-8">
                    <h2 class="fw-bold m-0">Stations Services</h2>
                </div>

                <!-- Search -->
                <div class="mb-6 sticky-top">
                    <form action="#">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="icon icon-lg" (click)="input.setValue('') ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                </div>
                            </div>

                            <input [formControl]="input" type="text" class="form-control form-control-lg ps-0" placeholder="Recherche" aria-label="Rechercher une station">
                        </div>
                    </form>

                    <!-- Invite button -->
<!--                     <div class="mt-5">
                        <a href="#" class="btn btn-lg btn-primary w-100 d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#modal-invite">
                            Ajouter une nouvelle station

                            <span class="icon ms-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                            </span>
                        </a>
                    </div> -->
                </div>

                <!-- Chats -->
                <div class="card-list">
                    <!-- Card -->
                    <a href="chat-group.html" class="card border-0 text-reset" >
<!--                         <div class="card-body">
                            <div class="row gx-5">
                                <div class="col-auto">
                                    <div class="avatar avatar-online">
                                        <img src="assets/kit/1.png" alt="#" class="avatar-img">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="d-flex align-items-center mb-3">
                                        <h5 class="me-auto mb-0">Voir tout</h5>
                                        <span class="text-muted extra-small ms-2">{{date}}</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- .card-body -->

                        <div class="card-footer">
                            <div class="row align-items-center gx-4">
                                <div class="col-auto">
                                    <div class="avatar avatar-xs">
                                        <img class="avatar-img" src="assets/kit/5.png" alt="LightOil Community">
                                    </div>
                                </div>

                                <div class="col">
                                    <h6 class="mb-0">Voir tout</h6>
                                </div>

                                <div class="col-auto">
                                    <div class="avatar-group">
                                        <div class="avatar avatar-xs">
                                            <img src="assets/kit/1.png" alt="#" class="avatar-img">
                                        </div>

                                        <div class="avatar avatar-xs">
                                            <img src="assets/kit/4.png" alt="#" class="avatar-img">
                                        </div>

                                        <div class="avatar avatar-xs">
                                            <img src="assets/kit/7.png" alt="#" class="avatar-img">
                                        </div>

                                        <div class="avatar avatar-xs">
                                            <span class="avatar-text">+5</span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .row -->
                        </div><!-- .card-footer -->
                    </a>
                    <!-- Card -->


                    <!-- List -->
                    <div class="card-list">
                        <div class="my-5">
                            <small class="text-uppercase text-muted">Resultats</small>
                        </div>

                        <!-- Card -->
                        <div class="card border-0" *ngFor="let item of items | search: (search$ | async) " >
                            <div class="card-body">

                                <div class="row align-items-center gx-5" >
                                    <div class="col-auto">
                                        <a href="#" class="avatar ">
                                            <img class="avatar-img" src="assets/marker_white.png" alt="">
                                        </a>
                                    </div>

                                    <div class="col" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-more" aria-controls="offcanvas-more">
                                        <h5><a href="#">{{item.name}}</a></h5>
                                        <p>{{item.statut}}<span class='typing-dots'><span>.</span><span>.</span><span>.</span></span></p>
                                    </div>

                                    <div class="col-auto" (click)="itemClick.emit(item)" >
                                        <a class="btn btn-sm btn-icon btn-primary rounded-circle">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                                        </a>
                                    </div>
                                    

                                </div>

                            </div>
                        </div>
                        <!-- Card -->

                    </div>
            </div>

        </div>
    </div>
</div>
