            <!-- Sidebar -->
            <aside class="sidebar bg-light">
                <div class=" h-100" >

                    <!-- Chats example example example example example example-->
					<app-station-list
						[items] = "service.stations$ | async "
						>
					</app-station-list>

                </div>
            </aside>
            <!-- Sidebar -->
			
            <!-- Sidebar -->
            <aside class="sidebar bg-light">
                <div class=" h-100">

                    <!-- Support -->
                    <app-station-modal></app-station-modal>

                </div>
            </aside>
            <!-- Sidebar -->

            <!-- Chat -->
            <main class="main is-visible" data-dropzone-area="">
                <app-station-map></app-station-map>
            </main>
            <!-- Chat -->