<div class="h-100">

<div class=" h-100 show active">
    <div class="d-flex flex-column h-100">
        <div class="hide-scrollbar">
            <div class="container py-8">

                                <!-- Title -->
                                <div class="mb-8">
                                    <h2 class="fw-bold m-0">Details Stations</h2>
                                </div>
                <!-- Docs -->
<!--                 <div class="card border-0">
                    <div class="card-body">

                        <div class="row align-items-center gx-5">
                            <div class="col-auto text-primary">
                                <img class="avatar-img" src="assets/kit/1.png" alt="" width="46px">

                            </div>

                            <div class="col">
                                <h4 class="mb-1">Tradex Bastos</h4>
                                <p>En activité<span class='typing-dots'><span>.</span><span>.</span><span>.</span></span></p>
                            </div>

                            <div class="col-auto">
                                <a href="docs/index.html" class="btn btn-sm btn-icon btn-primary rounded-circle">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                                </a>
                            </div>
                        </div>

                    </div>
                </div> -->
                <!-- Docs -->

                <!-- Demos -->
                <div class="card-list mt-8">

<!--                     <div class="card border-0">
                        <img src="assets/img/demos/light.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h4 class="mb-1">Light</h4>
                                    <p>Classic light theme</p>
                                </div>
                                <div class="col-auto">
                                    <a href="light/index.html" class="btn btn-sm btn-icon btn-primary rounded-circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h4 class="mb-1">Tradex Bastos</h4>
                                    <p>En activité<span class='typing-dots'><span>.</span><span>.</span><span>.</span></span></p>
                                </div>
                                <div class="col-auto">
                                    <!-- Dropdown -->
                                    <div class="dropdown">
                                        <a class="icon text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Modifier cette station</a>
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li>
                                                <a class="dropdown-item text-danger" href="#">Supprimmer cette station</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="avatar avatar-xl mx-auto">
                            <img src="assets/kit/1.png" alt="#" class="avatar-img">

                            <a href="#" class="badge badge-lg badge-circle bg-primary text-white border-outline position-absolute bottom-0 end-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Demos -->

                <!-- Account Pages -->
                <div class="card-list mt-8">
                    <div class="d-flex align-items-center mb-4 px-6">
                        <small class="text-muted me-auto">Produits</small>
                    </div>

                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h4 class="mb-1">Super Classic</h4>
                                    <p>78542</p>
                                    <div class="progress" style="height: 1px;">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 25%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h4 class="mb-1">Super Maxiboost</h4>
                                    <p>45632</p>
                                    <div class="progress" style="height: 1px;">
                                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h4 class="mb-1">Gasoil Classic</h4>
                                    <p>12344</p>
                                    <div class="progress" style="height: 1px;">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 25%;" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h4 class="mb-1">Gasoil Maxiboost</h4>
                                    <p>77513</p>
                                    <div class="progress" style="height: 1px;">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 25%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h4 class="mb-1">Petrole</h4>
                                    <p>00000</p>
                                    <div class="progress" style="height: 1px;">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="00" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Account Pages -->
            </div>
            <!-- Button -->
            <div class="container mt-n4 mb-8 position-relative">
                <button class="btn btn-lg btn-primary w-100 d-flex align-items-center" type="button">
                   Aller vers la station
                    <span class="icon ms-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </span>
                </button>
            <!-- Button -->
            </div>
        </div>
    </div>

</div>
</div>
